*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle
.gradle/
build/
/Squid/.nb-gradle/

# Maven
target/

# Netbeans
nb-configuration.xml
nbactions.xml
dependency-reduced-pom.xml
nbproject/
.nb-gradle/
.nb-gradle-properties
private/


# IntelliJ
.idea/
*.iml

# Generated
*.txt
*.html
*.xml
*.csv
test_*
*.ser
*.zip
*.squid
*.xls
*.pdf
*.png

EXPRESSION.HTML
squidApp/LudwigLibraryJavadoc/
squidApp/Schema/
squidCore/LudwigLibraryJavadoc/
squidCore/Schema/
LudwigLibraryJavadoc/
Schema/
/Schema/
squidApp/Squid3_Reports_v?.?.?
squidApp/XSLTML/
XSLTML/
squidCore/out


squidCore/expressionsImages
squidCore/testgroup.pdf
squidCore/test.pdf
squidCore/Hf1sabserr.png

# Resources
!squidApp/src/main/resources/org/cirdles/squid/gui/version.txt
!squidApp/src/main/resources/org/cirdles/squid/gui/content/*.txt
!squidCore/src/main/resources/org/cirdles/squid/version.txt
!squidCore/src/main/resources/org/cirdles/squid/docs/*.txt
!squidCore/src/main/resources/org/cirdles/squid/docs/*.pdf
!squidCore/src/main/resources/org/cirdles/squid/prawn/*.xml
!squidCore/src/main/resources/org/cirdles/squid/prawn/*.txt
!squidCore/src/main/resources/org/cirdles/squid/prawn/*.squid
!squidCore/src/main/resources/org/cirdles/squid/javadoc/*.jar
!squidCore/src/main/resources/org/cirdles/squid/projects/Z626611PKPERM1.squid
!squidCore/src/main/resources/org/cirdles/squid/projects/SQUID3_demo_file.squid
!squidCore/src/main/resources/org/cirdles/squid/projects/listOfSquidProjectFiles.txt
!squidCore/src/main/resources/org/cirdles/squid/tasks/expressions/*.xls
!squidCore/src/main/resources/org/cirdles/squid/tasks/expressions/listOfXSLTMLFiles.txt


!squidCore/src/main/resources/org/cirdles/squid/parameters/parameterModels/referenceMaterialModels/*
!squidCore/src/main/resources/org/cirdles/squid/parameters/parameterModels/physicalConstantsModels/*
!squidCore/src/main/resources/org/cirdles/squid/parameters/parameterModels/commonPbModels/*

!squidWeb/src/main/resources/org/cirdles/squid/tasks/squidTask25/*.xls

!squidCore/src/test/resources/org/cirdles/squid/core/*.csv
!squidCore/src/test/resources/org/cirdles/squid/squidReports/squidReportTables/*.xml

!squidApp/pomX.xml
!squidCore/pomX.xml


# MACOS
.DS_Store
# WINOS
Thumbs.db