*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle
.gradle/
build/
/Squid/.nb-gradle/

# Netbeans
nb-configuration.xml
nbactions.xml
dependency-reduced-pom.xml
nbproject/
.nb-gradle/
.nb-gradle-properties

# IntelliJ
.idea/
*.iml

# Generated
*.txt
*.html
*.xml
*.csv
test_*
*.ser
*.zip

# Resources
!squidApp/src/main/resources/org/cirdles/squid/version.txt

# MACOS
.DS_Store