/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 7, 2018, 9:30:58 PM
    Author     : ryanb
*/
.button {
    -fx-background-color: orange;
               -fx-font-family: "Times New Roman";
                -fx-font-size: 18
}
.root{
    -fx-background-color: #cccccc;
}
.table-view{
    -fx-background-color: steelblue;
    -fx-font-family: "Courier New";
    
}
.table-view .column-header-background{
    -fx-background-color: #3333ff;
}
.table-view .column-header-background .label{
    -fx-text-fill: white;
    -fx-font-size: 18;

}
.table-view .table-cell:odd{
    -fx-text-fill:black;
    -fx-font-size: 16;    
    -fx-background-color: #9966ff;

}
.table-view .table-cell:even{
    -fx-text-fill: black;
    -fx-font-size: 16;
    -fx-background-color:#6666ff
}
.text-area {
    -fx-background-color:#cccccc;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 17
}
.text-field {
    -fx-background-color:#cccccc;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 17
}